

/* Flexbox  section style */

:root{
   --margin-top: 30px;
   --border: 3px solid black;
    --margin-bottom: 40px;
}
.flexbox_section{
    margin-top: var(--margin-top);   
}
.flexbox{
 border: var(--border);
 display: flex;
 height: 400px;
 align-items:stretch;
 /* justify-content:center;
 
 align-items: center;
 flex-direction:row;
 flex-wrap: wrap; */
}

.box{
    border: 3px dashed peru;
    width: 200px;
    /* height: 200px; */
    background-color: lightgoldenrodyellow;
    font-size: 3ex;
    font-weight: 700;
}
#box-3{
    flex-grow: 1;
}

/* Flexbox  section style */

/* login section style */

nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
 
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: lightpink;
    margin-top: var(--margin-top);
    height: 30px;
}
.login_section{
 
    border: var(--border);
    display: flex;
    justify-content: center;

}
.login_form{
margin-top: var(--margin-top);
margin-bottom: var(--margin-bottom);
display: flex;
flex-direction: column;
width: 50%;
border: var(--border);
}
.login_form input{
    margin-top: 12px;
    font-size: 24px;
    padding: 6px 10px;
}
.login_form input[type="submit"]{
    background-color: orange;
    border: 0px solid whitesmoke;
    border-radius: 4px ;
}
















/* login section style */





