


/* overflow and tooltip desgine */



.mega_box{
    width: 500px;
    height: 400px;
    background-color: antiquewhite;
    border: 4px solid black;
    overflow:scroll;
    overflow-x: hidden;
  
}
.small_box{
    margin-top: 40px;
    width: 500px;
    height: 400px;
    background-color:cornflowerblue;
    border: 4px solid black;
}
.mini_mini{

    width: 150px;
    border: 3px solid rebeccapurple;
    margin-bottom: 2px;
    overflow: hidden;
 
}
.short{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* overflow and tooltip desgine */

/* Transform and Translate desgine */


.container,.inner{
    width: 200px;
    height: 200px;
    border: 2px solid yellow;
}
.container{
    background-color: lightgrey;


}
.inner{
    background-color: lightcoral;
    transform: scale(0.78) rotate(8deg) skew(45deg);
}
/* Transform and Translate desgine */

/* Transition  style */
.box2{
    width: 250px;
    height: 250px;
    border: 4px solid black;
    background-color:lightpink;
    margin-top: 30px;
    transition: width 5s ease 2s , height 5s ease 3s , transform 3s ;
  


}
.box2:hover{
    width: 400px;
    height: 400px;
    background-color: lightsalmon;
    transform: rotate(360deg);

}


/* Transition style */

/* cricket section style */
.cricket_section{
    margin-top: 30px;
}
.field{
    border: 2px solid lightcoral;

}

.bat{

}
 .field:hover .bat{
    transform: rotate(-75deg);
    transform-origin: right top;
 }
 .bat{
    transition: transform 0.1s ease-in;
 }
.ball{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: red;
    border-radius: 25px;
    position: relative;
    left: 645px;
    bottom: 40px;
    transition: transform 1s ease-out 0.1s;
}
  .field:hover .ball{
    transform:translate(500px,-300px);
}

/* cricket section style */

/* blueblaa cricekt section style */


.blueball_section{
    margin-top: 30px;
    

}
.blue_bat{
    border: 3px solid black;

}
.b_bat{
   transition: transform 0.1s ease-in ;
}
.blue_bat:hover .b_bat{
    transform: rotate(-60deg);
    transform-origin: top right;
    
}
.blue_ball{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid wheat;
    background-color: blue;
    position: relative;
    left: 545px;
    bottom: 30px;
    transition: transform 1s ease-out 0.1s;

}
.blue_bat:hover .blue_ball{
    transform: translate(800px,-360px);
}


/* blueblaa cricekt section style */


/* animation section style */

.animation_section{
    margin-top: 40px;
}
.stage{
    width: 500px;
    height: 300px;
    background-color: gray;

}
.bull{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: lightgreen;
    animation: slide  1s  ease-in-out  0.5s  6  alternate  ;
    animation-play-state: running;
    position: relative;

}
@keyframes slide {
    0%{
        background-color: lightgreen;
        left: 0px;
        top:0px;
    }
    25%{
        top: 200px;
        background-color: yellow;
        transform: scale(0.5);

       
    }
    50%{
           top: 0px;
           background-color: red;
           scale: 1;
           transform: scale(1);

    }
    75%{
        top: 200px;
        background-color: yellow;
        transform: scale(0.5);

       
    }
    100%{
        background-color: maroon;
        left: 400px;
        top: 0px;
    }
    
}
.football{
    margin-top: 40px;

}

.white{
    width: 600px;
    height: 500px;
    background-color: lightcoral;
    border: 2px solid black;
}
.black{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid red;
    background-color: lightblue;

   animation: boom  0.3s  ease-in-out  0.5s  10  alternate  ;
   animation-play-state: running;
   position:relative;

}

@keyframes boom {
    0%{
        background-color: lightblue;
        top: 0px;

    }
    

50%{
    background-color: gold;
   
} 
    100%{
     background-color: aquamarine;
     top:350px ;

    transform: scale(0.5);
    }
}


/* animation section style */

/* visiblity section style */

.visiblity{
    margin-top: 40px;
}
.box_l{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: lightcoral;
}
#bull-3{
    color: aquamarine;
   
    visibility:hidden;
}


/* visiblityt section style */

/* custom secton style */
:root{
    --primary-color:purple;
}

h1{

    color: var(--primary-color);
}
#pakhi-3{
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    width: calc(100%-80%);
}
p{
    color:var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}


/* custom secton style */
/* specificity section style */
h1{
    background-color: red;
    background-color: salmon;
}
.train{
    background-color: blanchedalmond;
}
#bus{
    background-color: chartreuse;
}


/* specificity section style */